// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#button {
  background-color:#337AB7;
  color: white;
  padding: 5px;
  margin: 0;
}

#user-input {
  margin: 0;
  padding: 5px;
}

div {
  border-left: 5px solid rgba(128, 128, 128, 0.253);
  padding: 10px;
  margin-bottom: 10px;
}

.italic {
  font-style: italic;
}

#answer {
  background-color: #FFFFE1;
}